# fly.toml app configuration file generated for cs-skins-scraper on 2023-10-01T15:11:04+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "cs-skins-scraper"
primary_region = "mad"

[build]
  dockerfile = "../apps/scraper/Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]
